<footer style="background-color: #FF4255; color: white;" class="py-3">
  <div class="container text-center">
    <ul class="list-inline">
      <li class="list-inline-item mx-4">
        <p> Get connected with us on social networks: </p>
      </li>
      <li class="list-inline-item mx-4">
        <a href="#" class="text-white text-decoration-none">
          <i class="bi bi-facebook"></i> Facebook
        </a>
      </li>
      <li class="list-inline-item mx-4">
        <a href="#" class="text-white text-decoration-none">
          <i class="bi bi-twitter"></i> Twitter
        </a>
      </li>
      <li class="list-inline-item mx-4">
        <a href="#" class="text-white text-decoration-none">
          <i class="bi bi-instagram"></i> Instagram
        </a>
      </li>
      <li class="list-inline-item mx-4">
        <a href="#" class="text-white text-decoration-none">
          <i class="bi bi-linkedin"></i> LinkedIn
        </a>
      </li>
    </ul>
  </div>
  <hr>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-gem me-3"></i>Inevosys
          </h6>
          <p>
            Inevosys specializes in delivering cutting-edge software solutions built on robust technologies like .NET and Angular, empowering businesses with scalable and efficient applications. Our expertise ensures seamless integration, modern design, and unmatched performance for your digital transformation.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Technologies
          </h6>
          <p>
            <a href="#!" class="text-white">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-white">.NET</a>
          </p>
          <p>
            <a href="#!" class="text-white">SQL</a>
          </p>
          <p>
            <a href="#!" class="text-white">React Native</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-white">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-white">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-white">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-white">Help</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="bi bi-house me-3"></i> Vizianagaram, Andhra Pradesh, India</p>
          <p>
            <i class="bi bi-envelope me-3"></i>
            info&#64;example.com
          </p>
          <p><i class="bi bi-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="bi bi-printer me-3"></i> + 01 234 567 89</p>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <p class="container text-center">&copy; 2025 Inevosys. All rights reserved.</p>
</footer>
